.btEnabledStyle{
    border-color: #154063;
    color: #154063
}

.btDisabledStyle{
    background: #154063;
    color: white;
}

.queryInput{ 
    height: 36px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 
}

.buttonStyle{
    background: #154063;
    color: white
}

.cdacFooter{
    background: #154063;
    color: white; 
    left: 0;
    bottom: 0; 
    width: 100%;
    position: sticky;
    /* margin-top: auto; */
    text-align: center;
}

.btn:hover{
    border-color: #154063;
}
